@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";

.gig-details {
    padding-top: 32px;
    .nav-bar-list{
        display: flex;
        gap: 1rem;
        font-size: functions.rem(14px) ;
        align-items: center;
        margin-bottom: functions.rem(28px) ;;

        .slash{
            font-size: functions.rem(16px) ;
            color: variables.$gray2;
        }
        li{
            display: flex;
            justify-content: center;
            color: variables.$black;
            .home-link{
                display: flex;
                svg{

                    width: 1rem;
                    height: 1rem;
                    transform-origin: center;
                    fill: variables.$black;
                }
            }
        }
        a{
            color: variables.$black;
        }

    }
    h1{
        font-size: functions.rem(28px) ;
        line-height: functions.rem(36px) ;

        color: variables.$black;
        font-weight: 700;
    }

    .owner-details-general{
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-flow: column;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 1rem;
        img{
            border-radius: 50%;
            height: functions.rem(46px) ;
        }
        .owner-details-data{
            display: grid;
            align-items: center;
            .name-level{
                display: flex;
                gap: 1rem;
                align-items: center;
                h5{
                    margin-bottom: 0;
                    color: variables.$black;
                    font-size: functions.rem(18px);
                    font-weight: bold;
                }
                h6{
                    color: variables.$darkGray;
                    font-size: functions.rem(14px);
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }

            .rate{
                line-height: 0;
                display: flex;
                align-items: center;
                color: variables.$black;
                font-size: functions.rem(16px);
                gap: functions.rem(4px);
                svg{
                }
                p{
                    margin-top: functions.rem(6px);
                    margin-bottom: 0;
                    font-weight: bold;
                    color: variables.$black;

                }
            }

        }
    }
    .owner-level{
        display: flex;
        align-items: center;
        color: variables.$black;
        p{
            margin-bottom: 0;
            margin-right: 0.5rem;
            font-size: functions.rem(14px);


        }
    }
}
