@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";


.home-page{
    margin-top: functions.rem(80px);
    .main-home-search{
        margin-top: functions.rem(40px);
        justify-items: center;
        width: 100%; 
        max-width: 1400px; 
        
        padding: 0;



        display: grid;
        //vertical seperation:
        grid-template-rows: 2fr auto auto 1fr ;
        justify-content: center;
        text-align: center;

        div{ //headers tex
            grid-row: 2;
            margin-bottom: functions.rem(40px);
        }
        & h1{
            
            font-family: 'Macan', sans-serif; 
            font-weight: 400;
            font-size: functions.rem(60px);
            letter-spacing:  -.04em;
            margin: 0;
            color: variables.$white;


            span{
                font-family: 'DomaineDisplay', sans-serif; 
                font-weight: 400;
            }
        }
       

        .search-container {
            position: relative;
            grid-row: 3;
            display: inline-block;
            width: functions.rem(560px);
            height: functions.rem(60px);
            margin-bottom: 0;
           
            input {
                width: 100%;
                height: 100%;
                padding-left: functions.rem(20px);          
                padding-right: functions.rem(20px);  
                font-family: 'Macan', sans-serif; 
                font-weight: 400;
                border-radius: functions.rem(16px);
                outline: none;

            }
          
            .search-icon {
                background-color:#003912 ;
                position: absolute;
                right: functions.rem(10px);
                top: functions.rem(10px);
                width: functions.rem(40px);
                height: functions.rem(40px);
                border-radius: functions.rem(12px);
                padding: functions.rem(10px) functions.rem(10px);
                
                
            }
        }

        .trusted-by{
            grid-row: 4;
            display: grid;
            grid-auto-flow: column;
            align-items: center;

            

            & > * {
                margin-right: functions.rem(40px);
                width: 70px;
            }
            .text{
                font-size: functions.rem(12px);
                font-weight: bold;
                color: #adadadfa;
            }



        }
        @include mixins.for-mobile-layout{
            border-radius: none;
            padding-top: functions.rem(0px);
            background: linear-gradient(180deg, #003912 36.72%, #19aa64 141.43%);
            height: 350px; 
            div h1{
                max-width: 150px;
                font-size: functions.rem(32px);
                text-align: center;
                line-height: functions.rem(45px);
            }
            .trusted-by{
                color: transparent;
                .text{
                    color: transparent;
                }
            }
            .search-container {
                width: functions.rem(150px); 
            }
                
        }


        @include mixins.for-narrow-layout{
            border-radius: none;
            padding-top: functions.rem(50px);
            background: linear-gradient(180deg, #003912 36.72%, #19aa64 141.43%);
            height: 350px; 
            div h1{
                max-width: 350px;
                font-size: functions.rem(40px);
                text-align: center;
                line-height: functions.rem(45px);
            }
            .trusted-by{
                color: transparent;
                .text{
                    color: transparent;
                }
            }
            .search-container {
                width: functions.rem(350px); 
            }
                
        }


        @include mixins.for-normal-layout{
            border-radius: 16px;
            padding-top: none;
            
            //img:
            height: 400px; 
            div h1{
                max-width: 800px;
                font-size: functions.rem(60px);
                text-align: center;
                line-height: functions.rem(67px);

            }
            background-image: url('/img/hero.png');
            background-size: cover; 
            background-repeat: no-repeat;
            .trusted-by{
                color: #adadadfa;
                .text{
                    color: #adadadfa;
                }
            }
            .search-container {
                width: functions.rem(560px); 
            }
        }

        @include mixins.for-wide-layout{
            border-radius: 16px;
            padding-top: none;
            //img:
            height: 500px; 
            div h1{
                max-width: 800px;
                font-size: functions.rem(60px);
                text-align: center;
                line-height: functions.rem(67px);

            }
            background-image: url('/img/hero.png');
            background-size: cover; 
            background-repeat: no-repeat;
            .trusted-by{
                color: #adadadfa;
                .text{
                    color: #adadadfa;
                }
            }
            .search-container {
                width: functions.rem(560px); 
            }
        }
        

    }


}



.main-categories-list{
    
    display: grid;
    @include mixins.for-mobile-layout{

        grid-auto-flow: row;
        grid-template-columns: repeat(3,1fr) ;
        
        padding-top: functions.rem(12px);
        padding-bottom: functions.rem(12px);

        li{
            display: grid;
            grid-template-rows: auto 1fr;
            margin-right:6px;
            justify-items: center ; 
            align-items: center;
            margin-top: functions.rem(6px);
            box-sizing: border-box;
            
            .svg-element-main{
                @include mixins.main-box-style; //make every card the rectangle design
                grid-row: 1;
                max-width: 30px;
                aspect-ratio: 1 / 1;
                color: #222325;
                
                display: flex;
                justify-content: center; 
                align-items: center; 

            }
            h3{
                width: 100px;
                grid-row: 2;

                padding-bottom: 5%;
                font-size: functions.rem(14px);
                font-weight: 600;
                color: #222325;
                text-align: center;  
            }
        }
    }


    @include mixins.for-narrow-layout{

        grid-auto-flow: row;
        grid-template-columns: repeat(4,1fr) ;
        
        padding-top: functions.rem(12px);
        padding-bottom: functions.rem(12px);

        li{
            display: grid;
            grid-template-rows: auto 1fr;
            justify-items: center ; 
            align-items: center;
            margin-top: functions.rem(6px);
            box-sizing: border-box;
            
            .svg-element-main{
                @include mixins.main-box-style; //make every card the rectangle design
                grid-row: 1;
                max-width: 30px;
                aspect-ratio: 1 / 1;
                color: #222325;
                
                display: flex;
                justify-content: center; 
                align-items: center; 

            }
            h3{
                width: 100px;
                grid-row: 2;

                padding-bottom: 5%;
                font-size: functions.rem(14px);
                font-weight: 600;
                color: #222325;
                text-align: center;  
            }
        }
    }

    @include mixins.for-normal-layout{

        grid-auto-flow: column;
        overflow-x:  hidden;
        padding-top: functions.rem(12px);
        padding-bottom: functions.rem(12px);

        li{

            @include mixins.main-box-style; //make every card the rectangle design
            margin: functions.rem(6px);
            width: functions.rem(120px);
            display: grid;
            grid-template-rows: 1fr 1fr;
            box-sizing: border-box;
            overflow: hidden;
            .svg-element-main{
                grid-row: 1;
                justify-self: start;
                align-self: end;
                max-width: 30px;
                aspect-ratio: 1 / 1;
                padding-top: 10%;
                padding-left: 10%;
                color: #222325;
            }
            h3{
                justify-self: start;
                grid-row: 2;
                padding-left: 5%;
                padding-right: 5%;
                padding-bottom: 5%;
                font-size: functions.rem(14px);
                color: #222325;
            }
        }
    }



    @include mixins.for-wide-layout{
        grid-auto-flow: column;
        overflow-x:  hidden;
        padding-top: functions.rem(12px);
        padding-bottom: functions.rem(12px);

        li{

            @include mixins.main-box-style; //make every card the rectangle design
            margin: functions.rem(6px);
            width: functions.rem(120px);
            display: grid;
            grid-template-rows: 1fr 1fr;
            box-sizing: border-box;
            overflow: hidden;
            
            .svg-element-main{
                grid-row: 1;
                justify-self: start;
                align-self: end;
                max-width: 30px;
                aspect-ratio: 1 / 1;
                padding-top: 10%;
                padding-left: 10%;
                color: #222325;
            }
            h3{
                justify-self: start;
                grid-row: 2;
                padding-left: 5%;
                padding-right: 5%;
                padding-bottom: 5%;
                font-size: functions.rem(14px);
                color: #222325;
            }
        }
    }
}

.home-main-categories{
    position: relative;
}


.scroll-button {
    @include mixins.for-narrow-layout{
        display: none;
    }

    @include mixins.for-mobile-layout{
        display: none;

    }

    // same for wide and normal:
    @include mixins.for-wide-layout {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: variables.$white;
        color: #222325;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 .880517px rgba(0,0,0,.029),0 0 2.29197px rgba(0,0,0,.03),0 0 5.52px rgba(0,0,0,.054),0 0 11px rgba(0,0,0,.09);  
        font-size: functions.rem(20px);
        z-index: 60;
    }
    @include mixins.for-normal-layout{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: variables.$white;
        color: #222325;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 .880517px rgba(0,0,0,.029),0 0 2.29197px rgba(0,0,0,.03),0 0 5.52px rgba(0,0,0,.054),0 0 11px rgba(0,0,0,.09);  
        font-size: functions.rem(20px);
        z-index: 40;
    }
  }
  
  .scroll-button.left {
    left: -5px;
    
  }
  
  .scroll-button.right {
    right: -5px;
  }

