
.app-header{
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e0e0e0; 
    width: 100%;
    z-index: 9999;
    background-color: $white;
}

.header-elements {
    
    display: grid;
    height: 5rem;
    align-items: center;
    background-color: $white;
    justify-items: center;
 
    .side-menu{
        width: rem(27px);
        height: rem(27px);   
        margin-right: 10px;   
        margin-top: rem(10px); 
        display: block;
    }

    .logo-img {
        max-width: rem(89px); 
        max-height: rem(27px);  
        fill: none;
        img{
            width: 100%; 
            height: 100%;
            object-fit: contain;

        }
    }


    .top-search-box{
        
        display: grid;
        grid-template-columns: 1fr auto;
        margin-left: 42px;
        margin-right: 42px;
        fill: $white;
        height: 42px;
        max-width: 450px; 
        width: 80%;
        border-radius: 4px;
        border: 1px solid #c5c6c9;
        overflow: hidden;
        
        align-items: center;
        input{
            grid-column: 1;
            border: none;
            outline: none;
            padding: 10px 2px 10px 16px;
            color: #62646a;
            font-family: 'Macan', sans-serif; 
            font-weight: 400;
            font-size: 1rem;

        }
        svg{
            grid-column: 2;
            width: rem(52px);
            height: rem(42px);
            padding: 13px;
            background-color: #222325;
            align-self: center;
            

        }

    }



    
    nav {
        justify-self: end;
        font-family: 'Macan', sans-serif; 
        font-weight: 700;
        
        font-size: 1rem;
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
        gap: rem(24px);

        // .active {
        // }


        .login-link {

        }

        button {
            font-family: 'Macan', sans-serif; 
            font-weight: 700;
            color: $clr3;
            border: 1px solid $clr3;
            background-color: $white;
            padding: 10px 20px;
            border-radius: 5px;
            &:hover{
                background-color: $clr3;
                color: $white;
            }
        }


        & a{
            color: $clr2;
            &:hover{
                color: $clr3;
                text-decoration: none;
            }
        }



    }

    @include for-mobile-layout{
        margin-left: none;
        grid-template-columns:1fr 1fr  1fr;
        .side-menu{
            display: block;
            grid-column: 1;

        }        
        .become-seller{
            display: none;
        }
        .gig-link{
            display: none;
        }
        .logo-img {
            grid-column: 2;
            

        }
        .top-search-box{
            display: none;

        }
        .nav{
            grid-column: 3;
        }
    }


    //narrow : with search top option, with menu icon , small nav menu, no img
    @include for-narrow-layout {
        margin-left: 2rem;
        grid-template-columns:auto auto 1fr auto;
        .side-menu{
            display: block;
            grid-column: 1;

        }        
        .become-seller{
            display: none;
        }
        .gig-link{
            display: none;
        }
        .logo-img {
            grid-column: 2;
        }
        .top-search-box{
            display: 3;

        }
        .nav{
            grid-column: 4;
        }
    }

    //normal : with search top option, no menu icon , big nav menu, with img
    @include for-normal-layout {
        margin-left: none;

        grid-template-columns:auto 1fr auto;
        .side-menu{
            display: none;
        }        
        .become-seller{
            display: block;
        }
        .gig-link{
            display: block;
        }
        .logo-img {
            grid-column: 1;
        }
        .top-search-box{
            display: grid;
            grid-column: 2;
        }
        .nav{
            grid-column: 3;
        }

    }
    // wide : with search top option, no menu icon , big nav menu, with img
    @include for-wide-layout {
        margin-left: none;

        grid-template-columns:auto 1fr auto;
        .side-menu{
            display: none;
        }        
        .become-seller{
            display: block;
        }
        .gig-link{
            display: block;
        }
        .logo-img {
            grid-column: 1;
        }
        .top-search-box{
            display: grid;
            grid-column: 2;
        }
        .nav{
            grid-column: 3;
        }
    }





    // .user-info {
    //     display: flex;
    //     align-items: center;
    //     margin-inline-start: auto;

    //     color: $clr1;

    //     img {
    //         width: 32px;
    //         aspect-ratio: 1;
    //         border-radius: 50%;
    //     }
        
    //     .btn-link {
           
    //     }
    // }

    

}

