@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";

.gig-preview {
    display: grid;
    grid-template-rows: auto auto 1fr auto; 
    margin-bottom: 1rem;
    justify-content: space-between;
    gap: 5px;
    
    p {
        margin-bottom: 0.5rem;

    }

    a {
        color: variables.$black;
        font-size: functions.rem(14px);
        font-weight: bold;
        line-height: functions.rem(21px);

    }    
	.gig-title {
       
        color: variables.$darkGray;
        font-size: functions.rem(16px);
	}

    .price-tag {
        color: variables.$black;
        font-size: functions.rem(16px);
        font-weight: bold;
	}

    .img-container {
        position: relative;
        width: 100%; /* Ensure it takes up full width of its parent */
        height: auto; 

        aspect-ratio: 5 / 3; /* Maintain aspect ratio */
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow effect on the container */
        border-radius: 8px;

    }

    img {
        min-width: 90%;
        object-fit: cover;
        border: 1px solid #e4e5e7;

    }

    .img-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        pointer-events: none; /* Ensure it doesn't block interactions */
    }


}



    

